    <nav class="navbar navbar-expand-md navbar-default bg-dark">
      <a class="navbar-brand" href="#">VirginiaTech_FutureHAUS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">HomePage<span class="sr-only">(current)</span></a>
          </li>

           <li class="nav-item active">
            <a class="nav-link" href="/rooms">Rooms <span class="sr-only">(current)</span></a>
          </li>

          <!--<li class="nav-item dropdown">-->
            <!--<a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Rooms_2</a>-->
            <!--<div class="dropdown-menu" aria-labelledby="dropdown01">-->
              <!--<a class="dropdown-item" href="#">LivingRoom</a>-->
              <!--<a class="dropdown-item" href="#">BedRoom</a>-->
              <!--<a class="dropdown-item" href="#">Kitchen</a>-->
            <!--</div>-->
          <!--</li>-->

        </ul>
        <!--<form class="form-inline my-2 my-lg-0">-->
          <!--<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
          <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        <!--</form>-->
      </div>
    </nav>