<!--Created by Archi Dasgupta, July 2018-->

{% extends "bootstrap/base.html" %}

{% block title %}Virginia Tech{% endblock %}

{% block styles %}
{{ super() }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
{% endblock %}



{% block content %}

<div class="container-fluid">

    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <style>
    body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
    body {font-size:16px;}
    .w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
    .w3-half img:hover{opacity:1}
    </style>

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-orange w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:280px;font-weight:bold;" id="mySidebar"><br>
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
      <div class="w3-container">
        <h3 class="w3-padding-64"><b>Virginia Tech<br></b></h3>
      </div>
      <div class="w3-bar-block">
          <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
          <a href="#rooms" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Rooms</a>
          <a href="#devices" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Devices</a>
 <!--         <a href="#analysis" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Analysis</a>
 -->
      </div>
    </nav>

    <!-- Top menu on small screens -->
    <header class="w3-container w3-top w3-hide-large w3-orange w3-xlarge w3-padding">
      <a href="javascript:void(0)" class="w3-button w3-orange w3-margin-right" onclick="w3_open()">☰</a>
      <span>Virginia Tech</span>
    </header>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:340px;margin-right:40px">

      <!-- Header -->
      <div class="w3-container" style="margin-top:80px" id="showcase">
          <h1 class="w3-jumbo"><b>Future HAUS</b></h1>
          <h1 class="w3-xxlarge w3-text-orange"><b>Welcome to the FutureHAUS app.</b></h1>
          <hr style="width:50px;border:5px solid white" class="w3-round">

          <div class="w3-row-padding">
          This application is used to manage the devices of Virginia Tech's "FutureHAUS". The link for each room
              shows a unique PI Vision Dashboard to visualize real time usage data.
          </div>
      </div>


      <!-- Rooms -->
      <div class="w3-container" id="rooms" style="margin-top:75px">
        <h1 class="w3-xxxlarge w3-text-orange"><b>Rooms.</b></h1>
        <hr style="width:50px;border:5px solid white" class="w3-round">

          <ul class="list.group">
              {% for room in rooms %}
                <li class="list.group.item">
                <a href="room/{{room.name}}">
                    <button type="button" class="w3-button w3-orange w3-padding-small w3-hover-grey w3-margin-bottom">{{room.name}}</button>
                    <!--{{room.name}}-->
                </a>
                </li>
              {% endfor %}
          </ul>

      </div>


        <!-- Devices -->
      <div class="w3-container" id="devices" style="margin-top:75px">
        <h1 class="w3-xxxlarge w3-text-orange"><b>Devices.</b></h1>
        <hr style="width:50px;border:5px solid white" class="w3-round">

      <div class="container">
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

          <ul class="list.group">
              {% for room in rooms %}
              <li class="list.group.item">
                  <b>{{room.name}}</b>
                      <ul>
                          <li> <font size="-1"> {{room.devices}} </font> </li>
                      </ul>
              </li>
              {% endfor %}
          </ul>

      </div>
      </div>

        <!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
        <!-- Analysis -->
<!--      <div class="w3-container" id="analysis" style="margin-top:75px">
          <h1 class="w3-xxxlarge w3-text-orange"><b>Analysis.</b></h1>
          <hr style="width:50px;border:5px solid white" class="w3-round">

          <!-- Grid (modal) -->
<!--          <div class="w3-row-padding">
            <div class="w3-half">
              <button class="class1 w3-button w3-green w3-padding-small w3-hover-grey w3-margin-bottom" id=forecastHousePowerConsumption value=forecast1 >Forecast Power Consumption</button>

            </div>

              <!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
<!--            <div class="w3-half">
                -----something-----------
              <!--<h1>Forecast Chart</h1>-->
                <!--&lt;!&ndash; bar chart canvas element &ndash;&gt;-->
                <!--&lt;!&ndash;<canvas id="chartForecast" width="600" height="400"></canvas>&ndash;&gt;-->
                <!--<div id='image_location'></div>-->

<!--            </div>
          </div>
          <!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->

 <!--     </div>
 <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%


    <!-- End page content -->
    </div>

    <!-- W3.CSS Container -->
    <div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right"></p></div>

    <script>
    // Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }
    </script>

</div>
{% endblock %}