<!--Created by Archi Dasgupta, July 2018-->

{% extends "bootstrap/base.html" %}
{% block title %}Virginia Tech{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/app_test.js')}}"></script>

{% endblock %}


{% block content %}
<div class="container-fluid">

    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <style>
    body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
    body {font-size:16px;}
    .w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
    .w3-half img:hover{opacity:1}
    </style>

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-orange w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:280px;font-weight:bold;" id="mySidebar"><br>
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
      <div class="w3-container">
        <h3 class="w3-padding-64"><b>Virginia Tech<br></b></h3>
      </div>
      <div class="w3-bar-block">
          <a href="{{ url_for('homepage') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Homepage</a>

          <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Devices</a>
          <a href="#dashboard" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Dashboard</a>
<!--          <a href="#analysis" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Analysis</a>
-->
      </div>
    </nav>

    <!-- Top menu on small screens -->
    <header class="w3-container w3-top w3-hide-large w3-orange w3-xlarge w3-padding">
      <a href="javascript:void(0)" class="w3-button w3-orange w3-margin-right" onclick="w3_open()">☰</a>
      <span>Virginia Tech</span>
    </header>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:340px;margin-right:40px">

        <!--***************************************************************-->
      <h1 class="w3-xxxlarge w3-padding-32"><b>{{room_name}}</b></h1>
      <!-- Header -->

        <div class="col-sm-4">
            <!--****bootstrap grid**-->
            <div class="w3-container" style="margin-top:80px" id="showcase">
                <h1 class="w3-xlarge w3-text-orange"><b>Devices:</b></h1>
                <ul class="list.group">
                    {% for device in devices %}
                    <li class="list.group.item">
                        <!-- Grid (modal) -->
                        <div class="w3-row-padding">
                            <div class="w3-one-third">
                            {{device}}
                            </div>

                            <ul class="list.group">
                                {% for commandName in buttonName[device] %}
                                    <button class="class1 w3-button w3-green w3-padding-small w3-hover-grey w3-margin-bottom"
                                            id=FutureHAUS/{{room_name}}/{{device}}/{{commandName}}
                                            value={{room_name}}/{{device}}/Command >{{commandName}}</button>
                                <!--<li class="list.group.item">-->
                                    <!--{{item}}-->
                                <!--</li>-->
                                {% endfor %}
                            </ul>
                            <!---->

                            <!--<div class="w3-two-third">-->
                            <!--<button class="class1 w3-button w3-green w3-padding-small w3-hover-grey w3-margin-bottom" id=FutureHAUS/{{room_name}}/{{device}}/TurnOn value={{room_name}}/{{device}} >Turn On</button>-->
                            <!--<button class="class2 w3-button w3-dark-grey w3-padding-small w3-hover-grey w3-margin-bottom" id=FutureHAUS/{{room_name}}/{{device}}/TurnOff value={{room_name}}/{{device}}>Turn Off</button>-->
                            <!--</div>-->

                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
        <!--******-->

        <!-- Dashboard - PI Vision -->
        <!--****bootstrap grid**-->
        <div class="col-sm-8 w3-container" id="dashboard" style="margin-top:75px">

            <!--<div class="w3-container" id="dashboard" style="margin-top:75px">-->
                <h1 class="w3-xlarge w3-text-orange"><b>Dashboard.</b></h1>
                <iframe id= "iframe_1" src={{piVisionLink}}?HideToolbar&HideTimebar" width = 950 height = 700 >
                <p>Your browser does not support iframes.</p>
                </iframe>
            <!--</div>-->

        </div>
        <!--******-->

        <!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
        <!-- Analysis from Tableau ?? -->
<!--      <div class="w3-container" id="analysis" style="margin-top:75px">
          <h1 class="w3-xxlarge w3-text-orange"><b>Analysis.</b></h1>

          <!-- Grid (modal) -->
<!--          <div class="w3-row-padding">
            <div class="w3-half">
                ------some text some text some text some text some text
                some text some text some text some text

            </div>

            <div class="w3-half">
                text texttext texttext texttext texttext texttext texttext
                texttext texttext texttext texttext text
            </div>
          </div>
      </div>
      %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
        -->

     <!-- End page content -->
    </div>


    <!-- W3.CSS Container -->
    <div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right"></p></div>

    <script>
    // Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }

    </script>

</div>
{% endblock %}